.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-group{
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
}
.button{
  width: 100% !important;
}
.btn-group .button {
  text-decoration: none;
  background-color: #61dafb;
  border: 1px solid  !important;
  padding: 15px 32px !important;
  text-align: center !important;
  font-size: 16px !important;
  cursor: pointer !important;
  display: block !important;
}

.btn-group .button:not(:last-child) {
  border-bottom: none
}

.btn-group .button:hover {
  background-color: #3e8e41 !important;
}
a{
  text-decoration: none;
}