.container {
    margin-left: auto;
    margin-right: auto;
    z-index: 999999;
    position: relative;
    margin-top: 100px;
    padding-top: 200px;
    display: inline-flex;
    text-align: left;
    color: white;
    width: 90% !important;
}
.d-flex{
    padding-bottom: 5px;
}
.con1 {
    width: 50%;
}

.con2 {
    text-align: center;
    color: black;
    width: 50%;
    right: -125px;
    position: absolute;
}
.col-md-3,.mt-3  {
    width: 400px !important;
}
img{
    width: max-content;
    border-radius: 5px;
}
BlogPosts{
    width: 800px;
}